$color-white: #ffffff;
$background: #eeeeee;
$background-input-focused: #fcfcfc;
$background-input-hover: #fcfcfc;
$background-search-bar: #ffe600;
$background-icon-hover: #f3f2f1;
$text-color-gray: #333333;
$text-color-gray-secondary: #999999;
$color-border-items: #eeeeee;
$background-button: #3483fa;
$background-button-hover: #78a3e4;
