@import "../../styles/variables.scss";

.image {
    cursor: pointer;
    max-width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    img {
        width: 100%;
    }
}
